.nav-links{
    position: fixed;
    top : 0;
    right: 0;
    margin-top: 0;
    padding: 20px;
    gap: 3rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #FF544C;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover{
    color: #FFE458;
    
    
}

.title-principle{
    background-color:#beb5a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px;
    


}
.boton1proyec{
    background-color: #6e473b;
    color: black;
    font-size: 1rem;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-section{
    display: flex;
    justify-content: center;
}
.about-me{
    color: black;
    font-size: 1rem;
}
.button-contacto{
    background-color: #6e473b;
    color: black;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}