

.nav-links{
    position: fixed;
    top : 0;
    right: 0;
    padding: 20px;
    gap: 3rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #FF544C;

    
}

.logo-name{
    font-size: 2rem
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    color: #FFE458;
    
    
}